// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  width: 25vw;
  margin: 2vw;
  box-shadow: 2px 2px 5px;
  img {
    height: 180px;
  }
}

.flex {
  display: flex;
  justify-content: start;
  margin-right: 5px;
}
